<VirtualHost *:80>
    <IfModule mod_ssl.c>
        SSLEngine off
    </IfModule>

    ErrorLog /var/log/apache2/error-tooltracker.log
    CustomLog /var/log/apache2/access-tooltracker.log common

    <Location /{{ tooltracker.config['http-prefix'] }}>
        ProxyPass        http://{{ tooltracker.config['listen'] }}:{{ tooltracker.config['http-port']}}/{{ tooltracker.config['http-prefix'] }}
        ProxyPassReverse http://{{ tooltracker.config['listen'] }}:{{ tooltracker.config['http-port']}}/{{ tooltracker.config['http-prefix'] }}
    </Location>
</VirtualHost>
