auth_notify_cmd = "firefox $PIZAUTH_URL";

// TODO: Create new Entra token
account "tooltracker" {
    auth_uri = "https://login.microsoftonline.com/common/oauth2/v2.0/authorize";
    token_uri = "https://login.microsoftonline.com/common/oauth2/v2.0/token";
    client_id = "0078db0d-6530-4bb8-bc8a-f54172d0aa39";
    scopes = [
      "https://outlook.office365.com/IMAP.AccessAsUser.All"
    ];
    auth_uri_fields = { "login_hint": "robertkovacsics@carallon.com" };
    redirect_uri = "http://localhost";
}
