body {
	margin: 2em;
}
h1 {
	line-height: 1.2;
}
h1 img {
	height: 1.2em;
	vertical-align: bottom;
}
table, form {
	max-width: 60rem;
	width: 100%;
	margin: auto;
}
td, th {
	padding: 0 1rem;
}
fieldset td {
	width: 100%;
}
input[type=text] {
	width: 100%;
	box-sizing: border-box;
}
table thead, table tbody tr:nth-child(even) {
	background: rgba(0,0,0, 0.05);
}
form {
	display: grid;
	grid-auto-columns: minmax(max-content, 60rem);
}
form textarea {
	width: 100%;
	box-sizing: border-box;
}
form > * {
	margin: 4pt 0;
}
@media print {
	form * {
		display: none;
	}
	.qr {
		display: initial;
	}
}
