:root {
	--bg: white;
	--fg: black;
	--hi: #ddd;
}
@media (prefers-color-scheme: dark) {
	:root {
	--bg: black;
	--fg: white;
	--hi: #444;
	}
}
body {
	color: var(--fg);
	background-color: var(--bg);
	margin: 2em;
}
a {
	color: var(--fg);
}
a:visited {
	color: var(--fg);
}
h1 {
	line-height: 1.2;
}
h1 img {
	height: 1.2em;
	vertical-align: bottom;
}
table, form {
	max-width: 60rem;
	width: 100%;
	margin: auto;
}
td, th {
	padding: 0 1rem;
}
fieldset td {
	width: 100%;
}
input[type=text] {
	box-sizing: border-box;
	color: var(--fg);
	background-color: var(--bg);
}
table thead, table tbody tr:nth-child(even) {
	background: var(--hi);
}
form {
	display: grid;
	grid-auto-columns: minmax(max-content, 60rem);
}
form textarea {
	width: 100%;
	box-sizing: border-box;
}
form > * {
	margin: 4pt 0;
}
@media print {
	form * {
		display: none;
	}
	.qr {
		display: initial;
	}
}
sup a, sub a {
	text-decoration: none;
}
.error {
	background: #faa;
	font-weight: bold;
	padding: 1em;
	margin: 1em;
	border-radius: 1em;
	white-space: pre-line;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-row > * ~ * {
	margin: 0 0 0 0.5em;
}
.flex-grow {
	flex-grow: 1;
}
.tag {
	border: 1pt solid;
	border-radius: 0.5em;
	display: flex;
	overflow: hidden;
}
.tag a {
	padding: 0 0.5em;
}
.tag input {
	width: 100%;
	display: inherit;
	margin: 0 0.5em;
	border: 0;
}
.deltag > * {
	text-decoration: none;
	display: block;
	color: var(--fg);
	border-left: 1pt solid var(--fg);
	height: 100%;
}
.supsub {
	font-size: 0.5em;
	font-weight: 900;
}
.supsub > * {
	text-decoration: none;
	display: block;
	margin-right: 0.2em;
	padding-right: 0.2em;
	border-right: 1pt solid var(--fg);
	color: 1pt solid var(--bg);
	background-color: 1pt solid var(--fg);
}
.supsub > * ~ * {
	border-top: 1pt solid var(--fg);
}
.filtering {
	background: var(--hi);
}
