{{- with .Value -}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Tool {{.Name}}</title>
		<link rel="stylesheet" href="{{$.HttpPrefix}}/stylesheet.css"/>
		<link rel="icon" href="{{$.HttpPrefix}}/favicon.ico"/>
	</head>
	<body>
		{{with $.MailError -}}
			<div class="error">
				The mail handling component has crashed. The system won't try to
				receive more e-mails until it is fully restarted &ndash; but the web
				interface is still usable. To start receiving mail, please restart the
				tooltracker.
				<pre><samp>{{.Error|highlightLinks}}</samp></pre>
				<a href="{{$.HttpPrefix}}/retry">Retry</a>
			</div>
		{{end}}
		<form enctype="multipart/form-data" method="post">
			<h1>
				<a href="{{$.HttpPrefix}}/tracker"><img class="print" src="{{$.HttpPrefix}}/logo.svg" /></a>
				<span>Tool {{.Name}}</span>
			</h1>
			<fieldset>
				<legend>Image</legend>
				<input id="name" name="name" type="hidden" value="{{.Name}}"/>
				{{with .Image}}<img src="data:image/png;base64,{{.}}"/><br/>{{end}}
				<input type="file" id="image" name="image" accept="image/png"/><br/>
			</fieldset>
			<fieldset>
				<legend>Tags</legend>
				<div class="flex-row">
					{{range $tag, $tagType := .Tags}}
						<span class="tag">
							<input type="text" size="{{$tag|len}}" name="tags" value="{{$tag}}" />
							<span class="deltag">
								<a onclick="parentElement.parentElement.remove()">&Cross;</a>
							</span>
						</span>
					{{end}}
					<span class="tag flex-grow"><input type="text" name="tags"></input></span>
				</div>
				<br/>
				<input type="checkbox" id="hidden" name="hidden"{{if .Hidden}} checked{{end}} />
				<label for="hidden">Archive tool (hide by default)</label>
			</fieldset>
			<fieldset>
				<legend>Description</legend>
				<textarea id="description" name="description" rows="5" placeholder="Change description here">{{.Description}}</textarea><br/>
			</fieldset>
			<fieldset class="print">
				<legend>QR to update location for {{.Name}}</legend>
				<input type="range" id="qr-size" name="qr-size"
					min=10 max={{.QrSize}} value={{.QrSize}} style="width: {{.QrSize}}mm;"></input>
				<div id="qr-div" class="print" style="width: {{.QrSize}}mm;">
					<h1 class="qr-scale print">
						<img class="print" src="{{$.HttpPrefix}}/logo.svg" />
						<span class="print">{{.Name}}</span>
					</h1>
					<img id="qr-img" class="qr-scale print"
						src="{{$.HttpPrefix}}/qr.png?name={{.Name}}&size={{.QrSize}}" alt="{{.Link}}"/>
					<br/>
				</div>
				<input type="button" onclick="print()" value="Print QR code"/>
			</fieldset>
			<input type="submit" value="Update"/>
		</form>
		<script>
document.getElementById("qr-size").oninput = function() {
	for (let el of document.getElementsByClassName("qr-scale")) {
		if (el.tagName == "H1") {
			el.style.fontSize = `${this.value/Math.max(3, el.innerText.length)}mm`;
		} else {
			el.style.width = `${this.value}mm`;
		}
	}
}
// Resize now
document.getElementById("qr-size").oninput();

document.getElementById("image").oninput = function() {
	if (this.files.length > 0 && this.files[0].size > 100 * 1024) {
		alert("File is too big! (max 100KiB)");
		this.value = "";
	}
}
		</script>
	</body>
</html>
{{- end -}}
