<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Tool tracker</title>
		<link rel="stylesheet" href="{{$.HttpPrefix}}/stylesheet.css"/>
		<link rel="icon" href="{{$.HttpPrefix}}/favicon.ico"/>
	</head>
	<body>
		{{with $.MailError -}}
			<div class="error">
				The mail handling component has crashed. The system won't try to
				receive more e-mails until it is fully restarted &ndash; but the web
				interface is still usable. To start receiving mail, please restart the
				tooltracker.
				<pre><samp>{{.Error|highlightLinks}}</samp></pre>
				<a href="{{$.HttpPrefix}}/retry">Retry</a>
			</div>
		{{end}}
		<form method="get" action="{{$.HttpPrefix}}/tool">
			<fieldset>
				<legend>Create tool:</legend>
				<div class="flex-row">
					<input
						type="text"
						class="flex-grow"
						name="name"
						alt="Name of tool to create"
						placeholder="Name of tool to create"/>
					<input type="submit" value="Create" />
				</div>
			</fieldset>
		</form>
		<form method="get" action="">
			<fieldset>
				<legend>Filter by tags:</legend>
				<div class="flex-row">
					{{range $tag, $tagType := .Value.Filter}}
						<span class="tag">
							<span class="supsub">
								{{if eq $tagType "+"}}
									<a href="?tags={{addtag $.Value.Filter $tag}}" class="filtering">+</a>
								{{else}}
									<a href="?tags={{addtag $.Value.Filter (printf "+%s" $tag)}}">+</a>
								{{end}}
								{{if eq $tagType "-"}}
									<a href="?tags={{addtag $.Value.Filter $tag}}" class="filtering">&mdash;</a>
								{{else}}
									<a href="?tags={{addtag $.Value.Filter (printf "-%s" $tag)}}">&mdash;</a>
								{{end}}
							</span>
							<input type="text" name="tags" size="{{$tag|len}}" value="{{$tag}}"></input>
							<span class="deltag">
								<a href="?tags={{deltag $.Value.Filter (printf "%s%s" $tagType $tag)}}">&Cross;</a>
							</span>
						</span>
					{{end}}
					<span class="tag flex-grow"><input type="text" name="tags"></input></span>
					<input type="submit" value="Filter" />
				</div>
				<label for="tags">
					<details>
						<summary>
							Space separated tags, optional
						&ldquo;<code>+</code>&rdquo;/ &ldquo;<code>-</code>&rdquo; prefix.
						</summary>

						Use &ldquo;<code>+tag</code>&rdquo; for must contain, and
						&ldquo;<code>-tag</code>&rdquo; for must not contain. For example

						<ul>
							<li>&ldquo;<code>a b c d</code>&rdquo; is <code>a OR b OR c OR d</code>&rdquo;;
							<li>&ldquo;<code>a +b +c d</code>&rdquo; is <code>(a OR d) AND b AND c</code>&rdquo;;
							<li>&ldquo;<code>a +b +c -d</code>&rdquo; is
								&ldquo;<code>(a) AND b AND c AND NOT d</code>&rdquo;.
						</ul>
					</details>
				</label>
			</fieldset>
		</form>
		<table>
			<thead>
				<tr>
					<th>Tool</th>
					<th>Tags</th>
					<th>Description</th>
					<th>Last seen by</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				{{range .Value.Items}}
				<tr>
					<td class="tool-name"><a href="{{$.HttpPrefix}}/tool?name={{.Tool}}">{{.Tool}}</a></td>
					<td class="tool-tags">
						<span class="flex-row">
							{{range $tag, $tagType := .Tags}}
								<span class="tag">
									<span class="supsub">
										<a href="?tags={{addtag $.Value.Filter (printf "+%s" $tag)}}">+</a>
										<a href="?tags={{addtag $.Value.Filter (printf "-%s" $tag)}}">&mdash;</a>
									</span>
									<a href="?tags={{addtag $.Value.Filter $tag}}">{{$tag}}</a>
								</span>
							{{end}}
						</span>
					</td>
					<td class="tool-description">{{with .Description}}{{.}}{{end}}</td>
					<td class="tool-last-seen-by">{{.LastSeenBy}}</td>
					<td class="tool-comment">{{.Comment}}</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</body>
</html>
